* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-size: cover;
  overflow: auto;
}

.bodyContainer {
  position: relative;
  width: 1280px;
  left: 50%;
  margin-left: -640px;
  margin-top: 50px;
  background-color: white;

}


.content {
  width: 1280px;
  overflow: auto;
  background-color: white;
}

.item {
  overflow: hidden;
}

.gamesDisplay {
  height: 100%;
  min-height: 80vh;
}


.filterButton{
	outline:none;
	width: 200px!important;
    height: 50px!important;
    font-size:20px!important;
    float: right!important;
    margin-right:-35px!important;
    box-sizing:border-box;
    font-family:Helvetica,Arial,sans-serif;
    font-size:9pt;display:inline-block;
    margin:2px;
    background:#fff;
	position:relative;
	cursor:pointer;
    padding:5px 10px;
    background:#fff;
    color:#202020;
    position:relative;
    display:flex;
    align-items:center;
    border-radius:5px;
    border:1px solid #eee;
    transition:150ms linear all;
	box-shadow:1px 1px 10px #eee;
	outline:none;
}

.filterButton:after{
	content:"";display:inline;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:6px solid #202020;
    position:absolute;
    right:8px;
    top:50%;
    transform:translateY(-50%);
    transition:150ms linear all
}

.sortby {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline:none!important;
	cursor:pointer;
    padding:5px 10px;
    background:#fff;
    color:#202020;
    position:relative;
    display:flex;
    align-items:center;
    border-radius:5px;
    border:1px solid #eee;
    transition:150ms linear all;
    box-shadow:1px 1px 10px #eee
}

.filterButton.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}



.grid-container {
  display: grid;
  grid-template-columns: 1200px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;

}

.gameText {
  display: inline-block;
  width: 1210px;
  height: 50px;
  margin: 30px 0px 20px 0px;
}

#allGames {
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  margin-left: 35px;
  margin-bottom: 20px;
  float: left;
  font-weight: bold;
}

.search-result{
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
  float: left;
  font-weight: bold;
}

.gameCover {
  cursor: pointer;
  float: left;
}

.gameInfo {
  width: 900px;
  float: left;
  margin-left: 30px;
}

.gameName {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.gameDescription {
  font-size: 20px;
}